page-home {

	ion-content {
		margin-top: 0vh !important;
		padding: 0px !important;
		background: #f2f2f2 !important;
	}
	h2 {
		margin: auto 0;
	}

	.card-content {
		padding: 0 !important;
		margin: 0 !important;
	}

	.introContent {
		font-size: 0.7em;
		margin: auto 20vw;
		padding-top: 5vh;
		padding-bottom: 10vh;
	}
	.skipBtn {
		width: 150px;
		height: 50px;
		margin: 0 auto;
		background-color: #f2f2f2;
		margin-top: 10vh;
		border-radius: 50px;
	}

	.first-letter {
		text-transform: uppercase;
		color: #323232;

	}
	.skipBtnTxt {
		text-transform: lowercase;
		color: #323232;
	}
	#slide1 {
		background-color: rgba(71,190,207, .2);
	}
	#slide2 {
		background-color: rgba(232,97,63, .2);
	}
	#slide3 {
		background-color: rgba(71,190,207, .2);
	}


	.question { 
		background: {
        image: linear-gradient(to right bottom, #16d6b4, #00c6c7, #00b3d3, #009ed5, #0088cc);
        position: center;
        repeat: no-repeat;
 }
/* background-image: -webkit-linear-gradient(bottom right, #0087cc, #009ed6, #00b2d3, #00c5c7, #16d6b4);
 background-image: -o-linear-gradient(bottom right, #0087cc, #009ed6, #00b2d3, #00c5c7, #16d6b4);
 background-image: linear-gradient(to top left, #0087cc, #009ed6, #00b2d3, #00c5c7, #16d6b4);
} */
/* 	background-image: -o-linear-gradient(bottom right, #0087cc, #009ed6, #00b2d3, #00c5c7, #16d6b4);
background-image: linear-gradient(to top left, #0087cc, #009ed6, #00b2d3, #00c5c7, #16d6b4); */
		padding: 5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-weight: 400;
		font-size: 1.2em;
		min-height: 50vh;
	}

	.answer {
		height: 13vh;
		padding: 5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.moreInfo {
		font-size: 0.9em;
		margin-top: 0.5vh;
		color: #B2B2B2;
		text-align: center;
		opacity: 1;
		animation-name: fadeInOpacity;
		animation-iteration-count: .7s;
		animation-timing-function: ease-in;
		animation-duration: .7s;
	}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
	.answerbtn {
		min-height: 10vh;
		align-items: center;
	}

	.divider {
		height: 1vh;
	}
	.card-md {
		border-radius: 10px;
		padding: 0 !important;
	}

	@keyframes fadeIn {
		from {
      height: 5vh;
    }

    	to {
      height: 13vh;
	}
	}

    .fadeIn {
    animation-name: fadeIn;
    animation-duration: .2s;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
	}
	#restart {
		padding-top: 1vh;
		margin-bottom: -2vh;
		text-align: center;
		font-size: 0.9em;
		text-decoration: none;
		color: #B2B2B2;
	}

}

