
<ion-content no-padding>
<ion-slides pager="true" *ngIf="introEnd == false">
  <ion-slide id="slide1">
    <h2>Comment jouer ?</h2>
    <p class="introContent">Lisez la question aux autres joueurs sans regarder la réponse.</p>
    <img src="assets/imgs/intro1.png" style="width: 250px" alt="">
      <div class="skipBtn" (click)="answerVisible = false; saveIntroEndTrue(); start();" bottom center ion-button full clear><span class="first-letter">P</span><span class="skipBtnTxt">asser l'intro</span></div>
    <ion-row *ngIf="this.i > 0">
      <button class="skipBtn"(click)="introEnd = true; loadSavedCards();" bottom center ion-button full clear>R<span class="skipBtnTxt">eprendre la partie</span></button>
    </ion-row>
  </ion-slide>
  <ion-slide id="slide2">
    <h2>Vos amis inventent la réponse</h2>
    <p class="introContent">Les autres joueurs lisent la réponse. <br> Ils peuvent choisir de vous donner la bonne réponse ou en inventer une de toute pièce.</p> 
    <img src="assets/imgs/intro2.png" style="width: 300px" alt="">
    <div class="skipBtn" (click)="answerVisible = false; saveIntroEndTrue(); start();" bottom center ion-button full clear><span class="first-letter">P</span><span class="skipBtnTxt">asser l'intro</span></div>
  </ion-slide>
  <ion-slide id="slide3">
    <h2>A vous de deviner</h2>
    <p class="introContent">Une fois que chaque autre joueur à proposée une réponse, à vous de deviner laquelle est la bonne !</p>
    <img src="assets/imgs/intro3.png" style="width: 250px" alt="">
    <div class="skipBtn" (click)="answerVisible = false; saveIntroEndTrue(); start();" bottom center ion-button full clear><span class="first-letter">c</span><span class="skipBtnTxt">'est parti !</span></div>
  </ion-slide>
</ion-slides>

 <ion-grid *ngIf="introEnd">
  <a id="restart" (click)="deleteStorage(); saveIntroEndFalse()">
    Nouvelle partie
  </a>
  <ion-slides slidesPerView="1.0001" spaceBetween="30" loop (ionSlideDidChange)="setI(); answerVisible = false;" (ionSlideWillChange)="answerVisible = false;"> 

      <ion-slide>
      <ion-col class="answerbtn">
        <ion-card>
          <ion-card-content>
            <ion-row class="question">
            <span>{{cards[this.i].question}}</span> 
            </ion-row>
            <ion-col class="devider">
            </ion-col>
            <ion-row class="answer ; fadeIn" *ngIf="answerVisible">
                <ion-col col-12> {{cards[this.i].answer}} </ion-col>
                <ion-col col-12><p class="moreInfo"> {{cards[this.i].hint}} </p></ion-col>
            </ion-row>            
            <ion-col class="devider">
            </ion-col>
            <ion-row class="answerbtn">
              <button bottom center ion-button full clear (click)="answerVisible = !answerVisible;">
                <span *ngIf="!answerVisible">Voir la réponse</span>
                <span *ngIf="answerVisible">Masquer</span>
              </button>
              <ion-row>
            </ion-row>
            </ion-row>
          </ion-card-content>
       </ion-card>
      </ion-col>{{this.i}}
    </ion-slide> 

  <ion-slide>
      <ion-col class="answerbtn">
        <ion-card>
          <ion-card-content>
            <ion-row class="question">
            <span>{{cards[this.i].question}}</span> 
            </ion-row>
            <ion-col class="devider">
            </ion-col>
            <ion-row class="answer ; fadeIn" *ngIf="answerVisible">
                <ion-col col-12> {{cards[this.i].answer}} </ion-col>
                <ion-col col-12><p class="moreInfo"> {{cards[this.i].hint}} </p></ion-col>
            </ion-row>            
            <ion-col class="devider">
            </ion-col>
            <ion-row class="answerbtn">
              <button bottom center ion-button full clear (click)="answerVisible = !answerVisible;">
                <span *ngIf="!answerVisible">Voir la réponse</span>
                <span *ngIf="answerVisible">Masquer</span>
              </button>
              <ion-row>
            </ion-row>
            </ion-row>
          </ion-card-content>
       </ion-card>
      </ion-col>{{this.i}}
    </ion-slide> 

  </ion-slides>

   <ion-fab bottom center>
    <button ion-fab (click)="answerVisible = false; setI();"><ion-icon name="add"></ion-icon>
          </button>
  </ion-fab>

  </ion-grid>
</ion-content>
